@import url('https://fonts.googleapis.com/css2?family=spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body{
    width:100%;
    height: 100vh;
    background: #1F8A70;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-area .container{
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.testimonial-area .container .sec-title{
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 15px;
}

.testimonial-area .container .sec-title:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 3px;
    background:#fff ;
}


.testimonial-area .container .sec-title h2{
    font-size:60px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}
.testimonial-area .container .sec-title p{
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    text-transform: capitalize;
}

.testimonial-area{
    background: #1F8A70;
    position: relative;
    z-index: 2;
    padding: 50px 0;
}

.testimonial-area .owl-carousel{
    overflow: hidden;
    padding: 0 20px;
    margin: 0 -40px;
    padding-right: 40px;
}

.owl-carousel .owl-stage-outer{
    padding: 30px 50px;
    margin-left: -35px;
    width: calc(100% + 100px);
}
.single-testimonial{
    border: 7px solid #fff;
    text-align: center;
    border-radius: 45px;
    position: relative;
    z-index: 2;
}

.single-testimonial p{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    padding: 50px;
    padding-bottom: 30px;
    position: relative;
    z-index: 3;
}

.client-info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-bottom: 50px;
}

.client-info .client-details h6{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.client-info .client-details span{
    display: inline-block;
    color: #fff;
    font-size: 13px;
}

.client-info .client-pic{
    padding-right: 15px;
    width: 100px;
}

.client-info .client-pic img{
    width: 100%;
    border-radius: 50px;
}

.owl-dots{
    text-align: center;
    margin-top: 50px;
}

.owl-dots button{
    background:#fff !important;
    width: 15px;
    height: 15px;
    border-radius: 26px;
    margin: 0 5px;
    transition: 0.3s;
}
.owl-dots button.active{
    width: 30px;
}

.single-testimonial:before{
    content:'\f10d';
    position: absolute;
    font-family: FontAwesome;
    left: -35px;
    top: -35px;
    background: #1F8A70;
    color: #fff;
    font-size: 80px;
    width: 126px;
    height: 100px;
}

.single-testimonial:after{
    content:'\f10e';
    position: absolute;
    font-family: FontAwesome;
    right: -35px;
    bottom: -35px;
    background: #1F8A70;
    color: #fff;
    font-size: 80px;
    width: 126px;
    height: 100px;
}
    